user_name = "Пользователь, созданный с доступом к проекту"
user_password = "PASSWORD"
domain_name = "логин в my.selectel.ru, он же номер договора, цифры"
project_name = "terraform"
public_key = "SSH PUBLIC KEY"
region = "ru-3"
az_zone = "ru-3a"
volume_type = "fast.ru-3a"
